footer {
  padding: 2%;
  text-align: center;
  background-color: rgb(28, 28, 28);
  color: rgb(255, 255, 255);
  border-top: 1.5vw solid rgb(133, 24, 42);
}

footer p {
  font-size: 9px;
}

footer img {
  width: 10vw;
  height: 10vw;
  margin: 1vw;
  object-fit: contain;
}

.footer-text h2 {
  font-size: 1.5rem;
  font-family: 'Roboto Slab';
  margin-bottom: 0;
  margin-top: 0;
}

.footer-text {
  margin-bottom: 1%;
  font-size: 1rem;
}

.footer-logos {
  display: inline-block;
  border-top: 0.5px solid rgb(208, 219, 223);
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
  footer {
    padding: 1%;
  }

  footer img {
    width: 8vw;
    height: 8vw;
  }
  .footer-text h2 {
    font-size: 2rem;
  }

  .footer-text {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 992px) {
  footer {
    padding: 1%;
  }

  footer img {
    width: 5vw;
    height: 5vw;
  }

  .footer-text h2 {
    font-size: 1.75rem;
  }

  .footer-text {
    font-size: 1.2rem;
  }
  footer p {
    font-size: 11px;
  }
}
