.navbar {
  margin-bottom: 0;
  position: fixed;
  z-index: 1;
  width: 100vw;
  background-color: rgb(28, 28, 28);
  color: white;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
}

.navbar-brand {
  object-fit: contain;
  padding: 0;
}

.navbar-nav a {
  font-size: 14px;
  font-weight: 700;
}

.pagename {
  font-family: 'Roboto Slab', serif;
  font-size: 120%;
  display: flex;
  width: 10rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  line-height: 120%;
  margin-left: 0;
  background-color: rgb(133, 24, 42);
  padding: 0 0 0 1rem;
}
